#include "Base.xcconfig"
ENVIRONMENT = DEVELOPMENT
API_BASE_URL = vfogikyoxhkubtjnztke.supabase.co
API_FUNCTIONS_BASE_URL = vfogikyoxhkubtjnztke.functions.supabase.co
API_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmb2dpa3lveGhrdWJ0am56dGtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA2ODUxMzMsImV4cCI6MjA2NjI2MTEzM30.HRCBp5l8PWNej9hmuQ7RK5s0qSHhPYhcDCSQqNiLfrY
GOOGLESERVICE_INFO_FILE = GoogleService-Info-dev.plist

APP_NAME = Zunlo dev
PRODUCT_BUNDLE_IDENTIFIER = net.loginode.zunloapp.dev
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-dev

ADMOB_BANNER_ID = ca-app-pub-3940256099942544/2934735716
ADMOB_INTERSTITIAL_ID = ca-app-pub-3940256099942544/4411468910
ADMOB_REWARDED_ID = ca-app-pub-3940256099942544/1712485313
