<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>API_FUNCTIONS_BASE_URL</key>
	<string>$(API_FUNCTIONS_BASE_URL)</string>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>API_PROTOCOL</key>
	<string>$(API_PROTOCOL)</string>
	<key>ENVIRONMENT</key>
	<string>$(ENVIRONMENT)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
