<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADMOB_BANNER_ID</key>
	<string>$(ADMOB_BANNER_ID)</string>
	<key>ADMOB_INTERSTITIAL_ID</key>
	<string>$(ADMOB_INTERSTITIAL_ID)</string>
	<key>ADMOB_REWARDED_ID</key>
	<string>$(ADMOB_REWARDED_ID)</string>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>API_FUNCTIONS_BASE_URL</key>
	<string>$(API_FUNCTIONS_BASE_URL)</string>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>API_PROTOCOL</key>
	<string>$(API_PROTOCOL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zunloapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>ENVIRONMENT</key>
	<string>$(ENVIRONMENT)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1529837310438307~2022940710</string>
	<key>UIAppFonts</key>
	<array>
		<string>Quicksand-Regular.ttf</string>
		<string>Quicksand-Medium.ttf</string>
		<string>Quicksand-SemiBold.ttf</string>
		<string>Quicksand-Bold.ttf</string>
		<string>Quicksand-Light.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-BoldItalic.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-LightItalic.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-MediumItalic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-RegularItalic.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launch-logo</string>
		<key>UIColorName</key>
		<string>Background</string>
	</dict>
	<key>GIDClientID</key>
	<string>$(GOOGLE_OAUTH_CLIENT_ID)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_BUNDLE_DISPLAY_NAME)</string>
</dict>
</plist>
